* {
    font-family: Arial, Helvetica, sans-serif;
  }

li {
  transform: translateX(1.4em);
}

a:hover, button:hover {
  opacity: 0.8;
}

.normal-section {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 1200px;

  @include mq($mobileSize) {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
  }
}

.header {
  background-color: white; /* Dark header */
  color: black;
  padding: 20px 10%;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  @include mq($mobileSize) {
    padding: 8px 4%;
    position: relative;
    flex-wrap: wrap;
  }

  .leftside {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    @include mq($mobileSize) {
      width: 100%;
      gap: 0.5rem;
    }
  }

  .logo {
    width: 140px;
    display: flex;

    img {
      display: inline-block;
      width: 100%;
    }
  }

  #siteTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;

    @include mq($mobileSize) {
      width: 260px;
    }

    h1 {
      margin: 0;
      font-size: $fsH1;
      font-weight: 700;
      width: 100%;

      @include mq($mobileSize) {
        font-size: $mfsH1;
      }
    }

    .subtitle {
      font-size: $fsH1Sub;
      font-weight: 400;
      width: 100%;
      margin: 0;

      @include mq($mobileSize) {
        font-size: $mfsH1Sub;
      }
    }
  }

  .nav-menu {
    display: flex;
    gap: 1rem;
    
    @include mq($mobileSize) {
      flex-wrap: wrap;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .nav-item {
      color: black;
      text-decoration: none;
      padding: 0.4rem 0.8rem;
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      display: flex;
      width: 100%;
      white-space: nowrap;
      align-items: center;
      font-size: $fsNavMenu;

    }

    .nav-item-answer {
      flex-wrap: wrap;
      background-color: $turquoise;
      color: white;
      font-weight: 600;
      border-radius: 4px;
      padding-left: 2rem;
      padding-right: 2rem;

      @include mq($mobileSize) {
        justify-content: center;
        padding: 0.4rem 0.8rem;
      }

      span {
        width: 100%;

        @include mq($mobileSize) {
          width: auto;
        }
      }
    }

    .nav-item-contact {
      background-color: $darkblue;
      color: white;
      font-weight: 600;
      border-radius: 4px;
      padding-left: 1.6rem;
      padding-right: 1.6rem;

      @include mq($mobileSize) {
        padding: 0.4rem 0.8rem;
      }

      span {
        width: 100%;
      }
    }
  }
}

footer {
  background-color: $darkgrey;
  color: white;
  padding: 30px 10%;
  margin: 0 auto;
  text-align: center;
  font-size: $fsFooter;

  @include mq($mobileSize) {
    padding: 10px 10%;
  }
}

