#home {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  // background-color: #004f54; /* Teal background */
  // color: white;


  .firstview {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
      url('https://source.unsplash.com/random/1920x1080?business');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 10%;
    min-height: 50vh;
    color: white;
    
    @include mq($mobileSize) {
      padding: 0;
      min-height: auto;
    }

    .content-box {
      background: rgba(0, 0, 0, 0.5);
      padding: 6rem 4rem;
      border-radius: 10px;
      max-width: 600px;

      @include mq($mobileSize) {
        padding: 40px 20px;
        max-width: 100%;
        height: 100%;
        min-height: 50vh;
      }

      .title {
        font-size: $fsFirstViewL;
        font-weight: 700;
        margin-bottom: 10px;

        @include mq($mobileSize) {
          font-size: $mfsFirstViewL;
          margin-bottom: 10px;
        }
      }

      .subtitle {
        font-size: $fsFirstViewM;
        margin-bottom: 50px;

        @include mq($mobileSize) {
          font-size: $mfsFirstViewM;
          margin-bottom: 50px;
        }
      }

      .action-button-wrapper {
        text-align: right;
        @include mq($mobileSize) {
          text-align: center;
        }

        .action-button {
          background-color: $turquoise;
          color: white;
          border: none;
          padding: 1rem 1.5rem;
          font-size: $fsFirstViewM;
          font-weight: 700;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          @include mq($mobileSize) {
            padding: 1rem 1.5rem;
            font-size: $mfsFirstViewM;
          }
        }

        .action-button:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .gozonji {
    background: linear-gradient(to right, $lightblue, $lightgreen);
    color: white;
    line-height: 1.6;
    text-align: center;
    overflow: hidden;

    @include mq($mobileSize) {
      padding: 0 10px 20px;
    }

    .title {
      font-size: $fsbodyL;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 60px;
      border-bottom: 2px solid white;
      padding: 20px 0;
      text-align: center;

      @include mq($mobileSize) {
        font-size: $mfsbodyL;
        margin-bottom: 20px;
        border-bottom: 2px solid white;
        padding: 20px 0 10px;
      }
    }

    .lead {
      font-size: $fsbodyM;
      font-weight: 600;
      margin-bottom: 15px;

      @include mq($mobileSize) {
        font-size: $mfsbodyM;
        margin-bottom: 0;
      }
    }


    .list-container {
      display: inline-block;
      text-align: left;
      @include mq($mobileSize) {
        display: block;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      .list-item {
        margin-bottom: 20px;
        font-size: $fsbodyS;
        font-weight: 600;
        color: $darkgrey;
        background: rgba(215, 226, 220, 0.83);
        padding: 4px 50px 4px 10px;

        @include mq($mobileSize) {
          margin-bottom: 10px;
          font-size: $mfsbodySS;
          font-weight: 600;
          color: $darkgrey;
          background: rgba(215, 226, 220, 0.83);
          padding: 4px 10px 4px 10px;
          max-width: 90%;
        }
      }

      .list-item::before {
        content: '✔';
        color: $lightgreen; /* Checkmark color */
        margin-right: 12px;
      }

      .list-item:last-child {
        margin-bottom: 0;
      }
    }
  }

  .mokuteki {
    margin: 0;
    line-height: 1.6;
    text-align: center;
    background: $bgGrey;
    overflow: hidden;
    @include mq($mobileSize) {
      margin-bottom: 10px;
      padding: 0 10px;
    }

    .title {
      font-size: $fsbodyL;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 60px;
      border-bottom: 2px solid black;
      padding-bottom: 20px;
      text-align: center;

      @include mq($mobileSize) {
        font-size: $mfsbodyM;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }

      span {
        display: inline-block;
      }
    }

    .list-container {
      display: inline-block;
      text-align: left;
      @include mq($mobileSize) {
        display: block;
        padding: 0 20px;
      }

      .list-title {
        font-size: $fsbodyS;
        font-weight: 600;
        margin-bottom: 15px;

        @include mq($mobileSize) {
          font-size: $mfsbodyS;
          font-weight: 600;
          margin-bottom: 0;
        }
      }

      ul {
        padding: 0;
      }

      .list-item {
        margin-bottom: 20px;
        font-size: $fsbodyS;
        font-weight: 600;

        @include mq($mobileSize) {
          margin-bottom: 10px;
          font-size: $mfsbodyS;
        }
      }

      .list-item:last-child {
        margin-bottom: 0;
      }
    }
  }

  .tsukaiwake {
    background: $bgDarkGray;

    @include mq($mobileSize) {
      padding: 20px 0;
    }

    .tsukaiwake-image {
      text-align: center;

      img {
        display: inline-block;
        width: 100%;
        max-width: 1000px;

        @include mq($mobileSize) {
          max-width: 90%;
        }
      }
    }

    .title {
      color: white;
      font-size: $fsbodyL;
      text-align: right;
      margin-bottom: 0;

      @include mq($mobileSize) {
        font-size: $mfsbodyS;
        text-align: center;
      }
    }
  }

  .goshienshimasu {
    background: $bgGreen;

    @include mq($mobileSize) {
      padding: 20px 0 40px;
    }

    .goshienshimasu-image {
      text-align: center;

      img {
        display: inline-block;
        width: 100%;

        @include mq($mobileSize) {
          max-width: 90%;
        }
      }
    }

    .title {
      font-size: $fsbodyL;
      position: absolute;
      transform: translateY(-120px);

      @include mq($mobileSize) {
        font-size: $mfsbodyS;
        text-align: center;
        transform: translate(10px,-30px);
      }
    }
  }

  .smart {
    background: linear-gradient(to right, $lightblue, $lightgreen); /* Teal to white gradient */
    color: white;
    line-height: 1.6;
    text-align: center;
    @include mq($mobileSize) {
      padding: 10px 10px;
    }

    .title {
      font-size: $fsbodyL;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 60px;
      border-bottom: 2px solid white;
      padding-bottom: 20px;
      text-align: center;

      @include mq($mobileSize) {
        font-size: $mfsbodyM;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }

      span {
        display: inline-block;
      }
    }

    .list-container {
      display: inline-block;
      text-align: left;

      @include mq($mobileSize) {
        display: block;
        padding: 0 20px;
      }

      .list-title {
        font-size: $fsbodyS;
        font-weight: 600;
        margin-bottom: 15px;

        @include mq($mobileSize) {
          font-size: $mfsbodyS;
          font-weight: 600;
          margin-bottom: 0;
        }
      }

      ul {
        padding: 0;
      }

      .list-item {
        margin-bottom: 20px;
        font-size: $fsbodyS;
        font-weight: 600;

        @include mq($mobileSize) {
          margin-bottom: 10px;
          font-size: $mfsbodyS;
        }
      }

      .list-item:last-child {
        margin-bottom: 0;
      }

      .list-item-sub {
        font-size: 0.6em;
      }
    }

  }

  .smart2 {
    background: $darkgreen;
    background: linear-gradient(to right, white, $darkgreen);
    @include mq($mobileSize) {
      padding: 20px 10px;
    }

    .normal-section {
      padding-top: 0;
      padding-bottom: 0;
      position: relative;

      .smart2-image {
        width: 50%;
        position: relative;

        @include mq($mobileSize) {
          width: 100%;
        }

        img {
          display: inline-block;
          width: 100%;
          @include mq($mobileSize) {
            display: none;
          }
        }
      }

      .title {
        color: white;
        font-size: $fsbodyL;
        position: absolute;
        top: 30px;
        text-align: center;
        width: 100%;

        @include mq($mobileSize) {
          color: black;
          font-size: $mfsbodyM;
          position: relative;
          top: 0;
          left: 0;
          text-align: center;
          width: 100%;
          margin: 0;
          margin-bottom: 10px;
          border-bottom: 2px solid black;
        }
      }

      .lead_pc {
        font-size: $fsbodyM;
        font-weight: 600;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 100%;
        width: 60%;
        transform: translate(4em, -40%);
        color: white;

        @include mq($mobileSize) {
          display: none;
        }
      }

      .lead_mb {
        display: none;

        @include mq($mobileSize) {
          display: block;
          font-size: $mfsbodyS;
          font-weight: 600;
          padding: 0 20px;
        }
      }
    }
  }

  .hurikaeri {
    margin: 0;
    line-height: 1.6;
    text-align: center;
    background: $bgGrey;
    overflow: hidden;

    @include mq($mobileSize) {
      padding: 10px 10px;
    }

    .title {
      font-size: $fsbodyL;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 60px;
      border-bottom: 2px solid black;
      padding-bottom: 20px;
      text-align: center;

      @include mq($mobileSize) {
        font-size: $mfsbodyM;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;

        span {
          display: inline-block;
        }
      }


    }

    .list-container {
      display: inline-block;
      text-align: left;

      @include mq($mobileSize) {
        display: block;
        padding: 0 20px;
      }

      .list-title {
        font-size: $fsbodyS;
        font-weight: 600;
        margin-bottom: 15px;

        @include mq($mobileSize) {
          font-size: $mfsbodyS;
          font-weight: 600;
          margin-bottom: 0;
        }
      }

      ul {
        // list-style: none;
        padding: 0;
      }

      .list-item {
        margin-bottom: 20px;
        font-size: $fsbodyS;
        font-weight: 600;

        @include mq($mobileSize) {
          margin-bottom: 10px;
          font-size: $mfsbodyS;
        }
      }

      .list-item:last-child {
        margin-bottom: 0;
      }
    }
  }

}

