// color
// LASTE color
$darkblue: #1F2585;
$lightblue: #076BAF;
$skyblue: #6D8EC8;
$darkgreen: #006536;
$lightgreen: #6AB82D;
$turquoise: #11A196;
$palegreen: #7BAAB6;
$darkgrey: #666666;
$lightgrey: #B3B3B3;
$yellow: #D0D72F;

//background color
$bgGrey: #F9F9F9;
$bgBlue: #E8FCFF;
$bgGreen: #EAFAF5;
$bgYellow: #EBF0CD;

$bgDarkGray: #CACACA;
$bgDarkBlue: #B7C7C9;
$bgDarkGreen: #ABB7B3;
$bgDarkYellow: #B4B89D;


// font size
$fsH1: 1.8rem;
$fsH1Sub: 0.8rem;
$fsNavMenu: 1.3rem;

$fsFirstViewL: 2.4rem;
$fsFirstViewM: 1.8rem;

$fsbodyL: 2.8rem;
$fsbodyM: 2.4rem;
$fsbodyS: 1.8rem;
$fsbodySS: 1.3rem;

$fsFooter: 1rem;